{% extends "layout.html" %}
{% block title %}Create New Short URL{% endblock %}
{% block body %}
  <h2>Submit URL</h2>
  <form action="" method=post>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <p>URL:
      <input type=text name=url value="{{ url }}" class=urlinput>
      <input type=submit value="Shorten">
    </p>
  </form>

  <form action="login" method=post>
    <div class="login">
      <p class='text'>
        LOGIN HERE
      </p>
      <p>
        <label for="login">Login</label>
        <input type="text" name='login' value="{{ login }}" class='login_input'/>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="text" name='password' value="{{ password }}" class='password_input'/>
      </p>
      {% if login_error %}
        <p class='login_error'><strong>Error:</strong> {{ login_error }}</p>
      {% endif %}
      <p>
        <button type=sumbit class='ok'>OK</button>
      </p>
    </div>
  </form>
  
{% endblock %}